<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->

{% for key, portfolio in features["portfolio"]["content"] %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{key}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-dark">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{{ asset("features/close-icon.svg") }}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase">{{ portfolio["title"] }}</h2>
                                <p class="item-intro text-muted">{{ portfolio["desc"] }}</p>
                                <div class="d-flex align-items-center">

                                    <img class="{{ portfolio["client"] is defined or portfolio["category"] is defined ? 'col-8' : 'col' }} modal-portfolio-img img-fluid d-block mx-auto" src="{{ asset(portfolio["img"]) }}" alt="..." />

                                    {% if portfolio["client"] is defined or portfolio["category"] is defined %}
                                        <ul class="col list-inline">
                                            {% if portfolio["client"] is defined %}
                                                <li>
                                                    <strong>Client:</strong>
                                                    {{ portfolio["client"] }}
                                                </li>
                                            {% endif %}
                                            {% if portfolio["category"] is defined %}
                                                <li>
                                                    <strong>Category:</strong>
                                                    {{ portfolio["category"] }}
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>

                                {% if portfolio["desc-all"] is defined %}
                                    <p>{{ portfolio["desc-all"]}}</p>
                                {% endif %}

                                {% if portfolio["link"] is defined %}
                                    <a href="{{ portfolio["link"] }}" class="btn btn-primary btn-xl text-uppercase">
                                        Find more
                                    </button>
                                {% else %}
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                {% endif %}


                                {% if portfolio["img-desc"] is defined %}
                                    <div class="row mb-2 justify-content-center p-5">
                                        <div class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner" role="listbox">

                                        {% for img in portfolio["img-desc"] %}

                                            <div class="carousel-item">
                                                <div class="col-md-4 p-2">
                                                    <img src="{{ img }}" class="img-fluid">
                                                </div>
                                            </div>
                                            
                                        {% endfor %}

                                        </div>
                                        <a class="carousel-control-prev bg-transparent w-aut" href="#<?php echo($homeCarouselID) ?>" role="button" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        </a>
                                        <a class="carousel-control-next bg-transparent w-aut" href="#<?php echo($homeCarouselID) ?>" role="button" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        </a>
                                        </div>
                                    </div>
                                {% endif %}


    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}